#top{
    text-align: center;
    width : 80%;
    padding: 30px;
    margin-right : 50px;
    margin-left:120px;
    color: #777;
}

#nav{
    text-align: center;
    width : 80%;
    padding: 30px;
    margin-top:10px;
    /* margin-right : 50px; */
    margin-left:120px;
    color: #777;
}
#middle{
    
}
#section{

    float: left;
    text-align: center;
    width : 60%;

    height:350px;

    margin-top:20px;
    /* margin-right : 30px; */
    /* margin-left:120px; */
   
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    
}
#article{
    background-color: gray;
    width: 93%;
    height:240px;
   margin-left: 30px; 
    margin-top: 60px;
    margin-bottom: 10px;
    color:white;
    
}
#h1h2h3{
    height:30px;
    margin-left:10px;
    width:94%;
    padding:10px;
    margin-top: 40px;
    color:gray;
}
#p{
    height:30px;
    margin-left:10px;
    width:94%;
    padding:10px;
    color:gray;
    margin-top: 20px;
}  
#aside{
    float: left;
 text-align: center;
   width : 327px;
   height: 350px;
   margin-top:20px;
   /* margin-right : 30px; */
    margin-left:50px; 
  
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
   
}
#footer{
    clear:both;
    position: absolute;
    top : 580px;
    text-align: center;
    width : 80%;
    padding: 30px;
    margin-top:10px;
    margin-right : 50px;
    margin-left:120px;
    font-family: Arial, Helvetica, sans-serif;
    color:#777;
}
.boxcolor {
    background-color: white;


}

#main{
    background-color: gray;
    width: 100%;
    height: 100%;
    
}

#supersection{
    width : 99%;
    margin-top:5px;
    /* margin-right : 30px; */
    margin-left:120px;
    margin-bottom: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    
}

